<form class="event-form">
  <div class="event-form__field">
    <mat-icon>title</mat-icon>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="event-form__field">
    <mat-icon>description</mat-icon>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. meeting with John to discuss the details of the latest project"></textarea>
    </mat-form-field>
  </div>
  <div class="event-form__field">
    <mat-icon>access_alarm</mat-icon>
    <mat-form-field>
      <mat-label>Date & Time</mat-label>
      <input matInput type="datetime-local">
    </mat-form-field>
  </div>
  <div class="event-form__field">
    <mat-icon>location_on</mat-icon>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="event-form__field">
    <mat-icon>attachment</mat-icon>
    <mat-form-field>
      <mat-label>Attachments</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</form>
