<mat-toolbar class="calendar-toolbar" color="primary">
  <mat-toolbar-row>
    <span class="calendar-toolbar__label">{{ label() }}</span>
    <div class="calendar-toolbar__actions">
      <button mat-raised-button color="accent" (click)="calendarService.setToday()">Today</button>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [value]="calendarService.year()" (selectionChange)="calendarService.setYear($event.value)">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [value]="calendarService.month()" (selectionChange)="calendarService.setMonth($event.value)">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab [disabled]="calendarService.isPrevButtonDisabled()"  (click)="calendarService.goToPreviousMonth()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-mini-fab [disabled]="calendarService.isNextButtonDisabled()" (click)="calendarService.goToNextMonth()">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
