.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &__header {
    display: flex;
    gap: 8px;
    margin: 5px;
  }

  &__header-item {
    background-color: var(--accent-400);
    flex: 1;
  }

  &__divider, &__header, &__toolbar {
    grid-column: 1 / 8;
  }

  &__day {
    &:hover {
      cursor: pointer;

      & button {
        background-color: var(--warn-300);
      }
    }
  }

  &__day-btn {
    display: block;
    margin-left: auto;
  }

  @for $i from 1 through 7 {
    .calendar__day-#{$i} {
      grid-column: $i;
      margin: 5px;
    }
  }
}
