.email-password-form {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  padding-block: 8px;

  &__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block: 4px;
  }
}
